body {
    background-color: #000000;
    font-family: 'Orbitron', sans-serif;
}

p {
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

nav {
    background-color: blue;
}

.navegacao {
    list-style-type: none;
}

.navegacao a {
    color: yellow;
    text-decoration: none;
}

h1, h2, h3 {
    color: yellow;
    margin-left: 10px;
}

footer {
    color: orange;
}

#sumario {
    color: lightgray;
    text-align: justify;
}
